extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Shawn Kelley

        //- Feel free to personalize the title below
        p Full-Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p A seasoned musician and teacher, Shawn fell in love with programming in mid-2021 and never looked back.  He loves intellectual challenges and is currently completing the Full-Stack JavaScript program at Team Treehouse, a technology education platform.


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 865-567-3935
          li shawnkelley7@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/shawnkelleyart/') LinkedIn
        a.btn-link(href='https://github.com/shawnkelleyart') GitHub
        //- a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back