extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Shawn Kelley

        p Full-Stack JavaScript Developer

        .about-bio

          p A seasoned musician and teacher, Shawn fell in love with programming in mid-2021 and never looked back.  He loves intellectual challenges and is currently completing the Full-Stack JavaScript program at Team Treehouse, a technology education platform.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 865-567-3935
          li shawnkelley7@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/shawnkelleydev/') LinkedIn
        a.btn-link(href='https://github.com/shawnkelleydev') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back