extends layout 

block content 

  nav.nav
      a(href='/')
        span &larr;
        |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1= err.message
        img(src="/static/img/obiwan.jpg").myimg
        h2= err.status
