extends layout.pug

block content

  article.portfolio-intro

    h1 Hey, Potential Employers

    p This website is a Team Treehouse project intended to demonstrate my competency with Node.js, Express, and Pug (formerly Jade).
    p Please visit my official portfolio page for more information about me.
    a(href="https://shawnkelleyws.herokuapp.com" target="_blank") Official Portfolio

  article.portfolio-project-thumbs
    .projects-box.box.grid
 
      each project in projects

        .cell
          a(href= `/projects/${project.id}`)
            img.thumbnail(src= project.image_urls[0] alt= `Thumbnail ${project.project_name}`)
            h5= project.project_name

