extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1= title

        p= description

      .project-tech-links-box.box
        h6 Technologies
        ul

          each tech in techs
            li= tech

        a.btn-link(href= live) Live Demo
        a.btn-link(href= github) GitHub Repo

    .project-img-box.box

      img.project-img(src= img[0], alt= alts[0])
      img.project-img(src= img[1], alt= alts[1])
      if img[2]
        img.project-img(src=img[2], alt= alts[2])

    nav.nav
      a(href='/')
        span &larr;
        |  Back
